.header {
  height: 70px;
  background-color: navy;
  color: white;
}

.header .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.chat-name {
  font-family: fantasy;
  font-size: 2rem;
}
