.message-input {
  position: fixed;
  bottom: 0;
  width:100%;
  max-width: 1200px;
  background-color: #99e0fc;
  display: flex;
  align-items: flex-start;
}

.message-input .text {
  width: 80%;
  height: 70px;
  margin: 10px;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.btn {
  padding: 10px 30px;
  margin-top: 30px;
}
